.card {
  padding: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  flex: 1;
}
.card-title {
  text-align: center;
}
ul {
  padding: 0;
}
li {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
li:hover {
  background-color: #424242;
}
.item-name {
  text-align: center;
  width: 30%;
  font-size: 12px;
}
.item-desc {
  text-align: center;
  width: 70%;
  font-size: 12px;
}
.head {
  font-size: 16px;
}
.pageBtn{
  width: 50px;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.active{
  transform: scale(1.2);
  background-color: #4F4F4F;
}